.form-group {
  max-width: 500px;
  label {
    font-weight: 500;
    margin-bottom: 5px;
  }
  margin-bottom: 10px;

  input {
    border: 1px solid var(--lightgray);
    padding: 16px 24px;
    border-radius: 8px;
  }
}

.error {
  color: red;
}

.ng-valid.ng-touched {
  border-color: green !important;
}

.ng-invalid.ng-touched {
  border-color: red !important;
}
