<div class="container" style="padding-top: 200px;">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="d-flex flex-column form-group">
      <label>Name</label>
      <input formControlName="nom" type="text">
    </div>
    <div class="d-flex flex-column form-group">
      <label>Email</label>
      <input formControlName="email" type="email">
    </div>
    <div formArrayName="hobbies" class="d-flex flex-column form-group">
      <label>Hobby</label>
      <button (click)="addHobby()" class="btn btn-primary">Ajouter hobby</button>
      <input class="m-10" [formControlName]="index" *ngFor="let hobby of hobbies.controls; let index=index" type="text">
    </div>
    <div class="d-flex flex-column form-group">
      <label>Mot de passe</label>
      <input formControlName="password" type="password">
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
</div>
